/*!
Theme Name: check
Theme URI: http://check.me/
Author: Check.me
Author URI: http://check.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: check
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,500;1,700&family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --gris:#CACED3;
    --blanc:#FFF;
    --bleuClair:#68a5c9;
    --bleuFonce:#3084B5;
    --bleuFonce2:#559AC2;
    --beige:#F4F3ED;
    --rouge: #c52b40;
    --bleuDark:#3084B5;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    font: 400 14px/1.3 'Roboto', sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
ul,ol{
    list-style: none;
}
.wrap{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
#formulaire-cv{
    padding-top: 7rem;
    position: relative;
}
.bg-creaCv{
    width: 50%;
    position: relative;
}
.bg-creaCv img{
    position: absolute;
    top: 100px;
    width: 70%;
    z-index: -30;
}
#formulaire-cv .img2{
    position: absolute;
    right: 0;
    top: 400px;
    width: 30%;
    transform: rotate(180deg);
    z-index: -30;
}
#formulaire-cv form{
    background-color: var(--beige);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}
#formulaire-cv form div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}
#formulaire-cv form div label{
    color: var(--bleuDark);
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;
}
#formulaire-cv h2{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: var(--bleuFonce);
    font-weight: bold;
}
#formulaire-cv form div input{
    width: 100%;
    border-radius: 5px;
    padding: .7rem;
    border: none;
}
#formulaire-cv form div .submit_cv{
    width: 30%;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 1rem .7rem;
    cursor: pointer;
    background-color: var(--bleuFonce);
    transition: all .3s;
}
#formulaire-cv form div .submit_cv:hover{
    background-color: var(--bleuClair);
}


.bg-creaCv2{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.bg-creaCv2 img{
    position: absolute;
}
#formulaire-cv .wrap2{
    z-index: 20;
}
#formulaire-cv form{
    position: relative;
}
#formulaire-cv input[type=submit]{
    background-color: #4F4E4E;
    color: #FFFFFF;
    padding: .5rem;
}
.comps input{
    padding: 2rem;

}
.forma input{
    padding: 2rem;
}
.exp input{
    padding: 2rem;
}
.submit{
    padding-top: .9rem;
}
.error{
    color: red;
}
/*formatcv*/
#cv h1, #cv h2{
    color: #3DD2CC;
}
#cv p{
    font-size: 18px;
    color: #3E6B89;
}
.nameMetier{
    text-align: center;
}
.nameMetier h1{
    font-size: 40px;
}
.nameMetier .underline{
    background-color: #3DD2CC;
    padding: .2rem;
}
.profile_experience{
    display: flex;
    justify-content: space-between;
}

.competences_formations{
    display: flex;
    justify-content: space-between;
}


.wrap2{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1rem;
}
.error{
    color: var(--rouge);
}
/*HEADER*/

#masthead{
    padding: 3rem 0;
    /*margin-bottom: 3rem;*/

}
#masthead .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    position: relative;
}
#masthead .wrap .logo{
    padding-left: 3rem;
}
#masthead .wrap .logo a{
    display: inline-block;
    transition: all .3s;
}
#masthead .wrap .logo a:hover{
    transform: scale(1.02);
}
#masthead .wrap nav ul{
    display: flex;
    align-items: center;
    font-size: 2rem;
}
#masthead .wrap nav ul .responsive{
    display: flex;
    gap: 4rem;
    align-items: center;
    padding-right: 1rem ;
}
#masthead .wrap nav ul .burger{
    display: none;
    font-size: 4rem;
    color: var(--bleuFonce);
    padding-right: 4rem;
}
#masthead .wrap nav ul .burger .open_burger{
    cursor: pointer;
}
#masthead .wrap nav ul a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: var(--gris);
    display: inline-block;
    transition: all .3s;
}
#masthead .wrap nav ul .connecte{
    color: var(--bleuFonce);
}

#masthead .wrap nav ul .login a{
    color: var(--blanc);
    padding: .7rem 1.5rem;
    background-color: var(--bleuClair);
    border-radius: 10px;
}
#masthead .wrap nav ul .register a{
    color: var(--blanc);
    padding: .7rem 1.5rem;
    background-color: var(--bleuFonce);
    border-radius: 10px;
}
#masthead .wrap nav ul a:hover{
    transform: scale(1.03);
}

/*MENU BURGER*/

#masthead .wrap .burger_menu{
    position: absolute;
    top: -3rem;
    right: -50rem;
    width: 25rem;
    text-align: center;
    background-color: var(--blanc);
    transition: right .5s cubic-bezier(.75,0,.23,1);
    z-index: 15;
    /*border-left: 2px solid var(--bleuFonce2);*/
    /*border-bottom: 2px solid var(--bleuFonce2);*/
    /*border-radius: 0 0 0 5px;*/
}
#masthead .wrap .burger_menu h3{
    padding-top: 3rem;
    text-align: right;
    padding-right: 5.2rem;
    font-size: 4rem;
    color: var(--bleuFonce);
    padding-bottom: 1rem;
    cursor: pointer;
}
#masthead .wrap .burger_menu ul{
    display: flex;
    flex-direction: column;
}
#masthead .wrap .burger_menu ul a{
    display: block;
    padding: 1rem 0;
    /*background-color: red;*/
    font-size: 2rem;
    color: var(--bleuFonce);
    transition: all .3s;
}
#masthead .wrap .burger_menu ul a:hover{
    background-color: var(--beige);
}

.titre{
    text-align: center;
    font-size: xx-large;
    margin: 3rem 0;
}

#masthead .wrap .open{
    right: 0;
}

/*MODAL CONNEXION*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 15; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    z-index: 1100000;
    border-radius: 5px;
}
.modal-content .background_login {
    width: 20%;
    z-index: -10;
    position: absolute;
    bottom: 8rem;
    left: 0;
}
.modal-content .background_login2 {
    position: absolute;
    right: 0;
    top: -6rem;
    width: 12%;
    z-index: -10;

}

.modal-content form{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 1rem 10rem 1rem;
}
.modal-content form h1{
    padding-bottom: 3rem;
    font-size: 4.4rem;
    color: var(--bleuFonce);
}
.modal-content form h1 b{
    color: var(--bleuClair);
}
.modal-content form .input_login {
    width: 100%;
}
.modal-content form .input_login input{
    width: 100%;
    padding: 1.5rem 1rem;
    border: 1.5px solid var(--bleuFonce2);
    border-radius: 5px;
}
.modal-content form .input_login input::placeholder{
    color: var(--bleuFonce);
}
.modal-content form .checkbox_login{
    text-align: center;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.modal-content form .checkbox_login label{
    padding-left: 1rem;
    font-size: 1.5rem;
    color: var(--bleuFonce);
    cursor: pointer;
    transition: all .3s;
}
.modal-content form .checkbox_login label:hover{
    color: var(--bleuClair);
}

.modal-content form .checkbox_login input{
    transform: scale(1.4);
    cursor: pointer;
}
.modal-content form .input_submit{
    margin: 0 auto;
}
.modal-content form .input_submit input{
    padding: 1.5rem 6rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: var(--bleuFonce2);
    color: var(--blanc);
    font-size: 2rem;
    transition: all .3s;
}
.modal-content form .input_submit input:hover{
    background-color: var(--bleuClair);
}
.modal-content form .oublie_password{
    text-align: center;
}
.modal-content form .oublie_password a{
    color: var(--bleuClair);
    display: inline-block;
    transition: all .3s;
}
.modal-content form .oublie_password a:hover{
    transform: scale(1.03);
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-header {
    padding: 1rem 3rem;
    color: white;
    height: 10rem;
}
.modal-header .close{
    color: var(--bleuFonce);
    font-size: 5rem;
    cursor: pointer;
    transition: all .3s;
    text-decoration: none;
}
.modal .close:hover {
    color: #000;
}
.modal-footer {
    padding: 2px 16px;
    color: white;
}
.background_login{
    position: absolute;
}
.background_login2{
    position: absolute;
}



/*REGISTER*/

#register{
    padding: 5rem 0;
    position: relative;
    /*z-index: 10;*/
}
#register .background_register{
    position: absolute;
    width: 30%;
    left: 0;
    /*z-index: -1;*/
}
#register .background_register2{
    position: absolute;
    width: 30%;
    right: 0;

}

#register .wrap2 form{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 2rem;
    background-color: rgba(217,217,217, .2);
    border-radius: 5px;
    z-index: -50;
}
#register .wrap2 form .verif_human{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1rem;
}
#register .wrap2 form .verif_human .form_calcul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


#register .wrap2 form select{
    padding: 1rem;
    border: 1.5px solid var(--bleuFonce2);
    color: var(--bleuClair);
    border-radius: 5px;
    cursor: pointer;
}
#register .wrap2 form h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: var(--bleuFonce2);
    text-transform: uppercase;
    padding-bottom: 3rem;
    z-index: 10;
}
#register .wrap2 form input{
    border: 1.5px solid var(--bleuFonce2);
    border-radius: 5px;
    padding: 1rem;
    /*background-color: var(--beige);*/
    z-index: 10;
}
#register .wrap2 form input::placeholder{
    color: var(--bleuClair);
}
#register .wrap2 form label, #register .wrap2 form h4{
    color: var(--bleuFonce2);
    font-family: 'Poppins', sans-serif;
    z-index: 10;
}
#register .wrap2 form .genre_register{
    display: flex;
    margin: 0 auto;
    gap: 5rem;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
#register .wrap2 form .genre_register .genre{
    display: flex;
    gap: 1rem;
}
#register .wrap2 form .genre_register label{
    cursor: pointer;
}

#register .wrap2 form .genre_register input{
    transform: scale(1.5);
    cursor: pointer;
}
#register .wrap2 form .register_name{
    display: flex;
    gap: 2rem;
}
#register .wrap2 form .register_name .name{
    width: 49%;
    display: flex;
    flex-direction: column;
}
#register .wrap2 form .register_email{
    display: flex;
    flex-direction: column;
}
#register .wrap2 form .date_de_naissance{
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
#register .wrap2 form .date_de_naissance .date_display{
    display: flex;
    gap: 5rem;
    margin: 0 auto;
    align-items: center;
}

#register .wrap2 form .voiture{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#register .wrap2 form .voiture input{
    cursor: pointer;
    transform: scale(1.5);
}
#register .wrap2 form .voiture .oui_register, #register .wrap2 form .voiture .non_register{
    display: flex;
    gap: 1rem;
}

#register .wrap2 form .voiture .response_voiture{
    display: flex;
    gap: 2rem;
    align-items: center;
    cursor: pointer;
}
#register .wrap2 form .voiture label{
    cursor: pointer;
}

#register .wrap2 form .all_password_register{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#register .wrap2 form .password1, #register .wrap2 form .password2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#register .wrap2 form input.submit{
    cursor: pointer;
    border: none;
    transition: all .3s;
    background-color: var(--bleuClair);
    color: var(--blanc);
    font-size: 2rem;
}
#register .wrap2 form input.submit:hover{
    transform: scale(1.01);
}

@media screen and (max-width: 1100px) {
    #masthead .wrap nav ul a{
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 1075px) {
    #masthead .wrap nav ul .responsive{
        gap: 2rem;
    }
    #masthead .wrap nav ul a{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 900px) {
    #masthead .wrap nav ul .responsive{
        gap: 1rem;
        text-align: center;
    }
}
@media screen and (max-width: 858px) {
    #masthead .wrap nav ul .responsive{
        display: none;
    }
    #masthead .wrap nav ul .burger{
        display: flex;
    }

}
@media screen and (min-width: 858px) {
    #masthead .wrap .burger_menu{
        display: none;
    }
}
@media screen and (max-width: 493px) {
    .modal-content {
        width: 85%;
    }

    .modal-content form h1{
        font-size: 6vw;
    }
    .modal-content form .input_submit input{
        padding: 1rem 3rem;
    }


}
.flex{
    display: flex;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: end;
}

/*Section Intro*/
#intro{
    position: relative;
    /*overflow: hidden;*/
}

.texte_gauche{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    /*padding: 5rem 3rem 0 3rem;*/
    gap: 5rem;
    padding-top: 8rem;
}

.texte_gauche h1{
    /*font-size: xxx-large;*/
    color: dimgrey;
    font-weight: normal;
    font-size: 6.4rem;
}
.texte_gauche h1 b{
    padding-left: 8rem;
    font-weight: normal;
}

.texte_gauche p{
    color: var(--gris);
    /*margin: 2rem 0;*/
    font-size: 2rem;
    max-width: 50rem;
    line-height: 3rem;
    font-weight: bold;
}
.texte_gauche p .blue_home{
    color: var(--bleuFonce2);
}
.texte_gauche span{
    line-height: 1rem;
}
/*ANIM P HOME*/

.blinking-cursor{
    user-select: none;
    animation: blink 1s steps(2, start) infinite;
    color: #68a5c9;
    font-size: 2em;
    white-space: nowrap;
}
.anim_home{
    color: var(--bleuFonce2);
    font-weight: bold;
}

.texte_gauche a{
    background-color: var(--bleuFonce);
    padding: 1rem 2rem;
    color: var(--blanc);
    border-radius: 50px;
    font-size: 2.5rem;
    transition: all .3s;
}
.texte_gauche a:hover{
    background-color: var(--bleuClair);
}

.img_droite img{
    position: absolute;
    width: 65%;
    /*right: -105px;*/
    top: 0;
    z-index: -30;
}
/*Fin secion intro*/

/*Section presentation*/
#presentation{
    padding-top: 5rem;
    margin-top: 10rem;
}

#presentation .flex{
    /*display: flex;*/
    align-items: center;
    gap: 5rem;
    background-color: var(--blanc);
    border-radius: 5px;
    padding: 2rem 1rem;

}

#presentation .card h2{
    padding: 3rem 0 1rem 0;
    font-style: italic;
    color: var(--bleuDark);
}
#presentation .card p{
    color: var(--gris);
    font-weight: bold;
}

/*Fin section presentation*/

/*Section video*/
#video{
    position: relative;
    padding: 8rem 0;
}
#video .wrap2 h2{
    text-align: center;
    padding-bottom: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--bleuFonce);
    font-size: 4rem;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    /*background-color: #F4F3ED;*/
}
#video .wrap2 iframe{
    width: 100%;
    height: 40rem;

}

.img_fond{
    position: absolute;
    top: -300px;
    left: -300px;
    z-index: -30;
}
.img_fond2{
    position: absolute;
    top: -50px;
    right: -300px;
    z-index: -30;

}
/*Fin section video*/

/*Section partners*/
#partners h1{
    color: var(--bleuFonce);
    font-size: 4rem;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

/*Fin section partners*/


/*Section quisommesnous*/
#quisommesnous{
    /*background-color: #F4F3ED;*/
    padding: 8rem 0 15rem 0;
}
#quisommesnous h1{
    color: var(--bleuFonce);
    font-size: 4rem;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding-bottom: 5rem;
}
#quisommesnous .flex{
    justify-content: space-between;
}
#quisommesnous .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17%;
}
#quisommesnous .card .infos_card{
    background-color: var(--beige);
    height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}
#quisommesnous .card .infos_card h4{
    padding: 3rem 0 1rem 0;
    font-size: 2rem;
}
/*Fin section quisommesnous*/

/*Section Carte*/
#carte{
    position: relative;
    /*z-index: -15;*/
}
#carte h1{
    color: var(--bleuFonce);
    font-size: 4rem;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding-bottom: 5rem;
    text-align: center;
}
#carte .wrap{
    padding-left: 0;
    background-color: var(--beige);
    border-radius: 10px;
}
#carte #map{
    height: 180px;
}

#carte .wrap img{
    border-radius: 10px 0 0 10px;
}

#carte .flex{
    justify-content: space-between;
    text-align: center;
}
#carte .flex #mapid{
    width: 60rem;
    height: 40rem;
    z-index: 1;
}
#carte .card{
    display: flex;
    align-items: center;
    align-self: center;
    margin: 0 auto;
    font-size: large;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}
#carte .card i{
    font-size: 4rem;
    color: var(--rouge);
}

#carte .card p{
    padding: 0.4rem 0;
    font-size: 2rem;
    font-weight: bold;
}

.img_fond3{
    position: absolute;
    top: -45rem;
    right: -150px;
    width: 40rem;
}
/*Fin section Cartes*/

/*Section Poste*/
#poste{
    position: relative;
    padding-top: 8rem;
}
#poste h1{
    color: var(--bleuFonce);
    font-size: 4rem;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
#poste .titre p{
    font-size: 3rem;
    padding-bottom: 3rem;
}
#poste .flex{
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    gap :1rem;
}

#poste .titre p{
    color: #0B4B71;
}

#poste .card p{
    font-size: x-large;
    background-color: #68A5C9;
    padding: 1rem;
    color: white;
    border-radius: 20px;
    border: solid;
}
.img_fond4{
    position: absolute;
    width: 30rem;
    top: 30rem;
    left: 60rem;
}
#poste .flex .card .blue{
    background-color: #3084B5;
}
/*Fin Section Poste*/


/*Section candidat*/
#candidat{
    /*background-color: rgba(48, 141, 181, 0.2);*/
    display: flex;
    align-items: center;
}
.candidat{
    display: flex;
    font-size: xx-large;
    text-align: -webkit-center;
    width: 100%;
}

.candidat tr{
    display: flex;
    gap: 5rem;
}
/*Fin Section candidat*/



@media screen and (max-width: 1230px){
    .texte_gauche, #presentation .flex, #partners .flex, #quisommesnous .flex{
        margin: 0 auto;
    }
    .img_droite img{
        display: none;
    }
    .img_fond, .img_fond2, .img_fond3, .img_fond4{
        display: none;
    }
    .texte_gauche{
         width: 100%;
        align-items: center;
     }
    .texte_gauche h1{
        text-align: center;
    }
    .texte_gauche h1 b{
        padding-left: 0;
    }

    .texte_gauche p{
        width: 100%;
        max-width: 70%;
        text-align: center;
    }
}

@media screen and (max-width: 825px){
    .flex{
        flex-direction: column;
    }
    #quisommesnous .flex, #partners .flex, #presentation .flex{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }
    #quisommesnous .card, #partners .img_partner, #presentation .card{
        width: 40%;
        margin: 0 auto;
    }
    #quisommesnous .card img{
        width: 50%;
    }
    #carte .flex #mapid{
        width: 100%;
        height: 40rem;
    }
    #carte .card{
        padding: 4rem 0;
    }

    }

@media screen and (max-width: 600px){
    #intro .flex{
        align-items: center;
    }
    .img_droite img{
        display: none;
    }
    #quisommesnous .card, #partners .img_partner, #presentation .card{
        width: 70%;
        margin: 1.5rem auto;
    }
}

@media screen and (max-width: 540px) {
    .texte_gauche{
        width: 100%;
        text-align: center;
    }
}

/*FOOTER*/
#footer{
    position: relative;
    padding-bottom: 2rem;
}
#footer .backfooter {
    width: 90%;
    /*height: 28%;*/
    position: absolute;
    bottom: 0;
    height: 45rem;
    z-index: -30;
}
#pages {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}
#pages .pages1, #pages .pages2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
#pages a {
    display: inline-block;
    padding: 0.2rem 0;
    cursor: pointer;
    color: var(--bleuFonce2);
    font-weight: bold;
    transition: all .3s;
    font-size: 1.5rem;
}
#pages a:hover {
    opacity: .7;
}
#pages h5 {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: var(--bleuDark);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
}
#svgFooter {
    display: flex;
    gap: 1rem;
    font-size:10px;
    margin: auto;
    justify-content: space-between;
    padding-top: 4rem;
}
#svgFooter i {
    font-size: 6rem;
    color: var(--bleuClair);
    transition: all .3s
}
#svgFooter a:hover{
    opacity: 1;

}
#svgFooter .facebook:hover {
    color: #1871E7;
}
#svgFooter .link:hover{
    color: #0071AE;
}#svgFooter .insta:hover{
    color: #CD2A89;
}
#logoFooter {
    text-align-last:center;
}
#logoFooter img {
    width: 12%;
}
#logoFooter p {
    font-size: 10px;
}
#return{
    padding-top: 10rem;
    display: block;
    text-align: right;
    padding-right: 3rem;
}
#return a{
    display: inline-block;
    font-size: 4rem;
    color: var(--bleuFonce2);
    transition: all .3s;
}
#return a:hover{
    transform: scale(1.1);
    opacity: .8;
}
#return img {
    /*width: 5%;*/
    cursor: pointer;
}
@media (max-width:923px) {
    #pages {
        flex-direction: column;
        gap: 2rem;
    }

    #pages .pages1, #pages .pages2 {
        gap: 0;
    }

    #svgFooter {
        max-width: 30rem;
        padding: 2rem 0 4rem 0;
    }

    #logoFooter img {
        width: 20rem;
    }

    @media screen and (max-width: 865px) {
        .candidat {
            font-size: x-large;
        }
    }
    @media (max-width: 800px) {
        #pages h5 {
            font-size: 16px;
        }

        #logoFooter p {
            font-size: 8px;
        }

        #carte .flex #mapid {
            height: 30rem;
        }
    }
}
@media screen and (max-width: 750px){
    .candidat{
        font-size: large;
    }
}

@media (max-width:670px) {
    .candidat{
        font-size: 10px;
    }
    #candidat .candidat tr{
        gap: 15rem;
    }
    #pages {
        display: block;
        text-align-last: center;
    }
    .pages1 {
        padding-bottom: 2rem;
    }
    .pages2 {
        padding-bottom: 2rem;
    }
    .pages3 {
        padding-bottom: 2rem;
    }
    #svgFooter {
        place-content: center;
    }
    #svgFooter svg {
        width: 7%;
    }
    #pages h5 {
        padding-bottom: 0.5rem;
    }
    #footer img {
        width: 92%;
        height: 34%;
    }
    #return img {
        width: 10%;
    }
}

@media screen and (max-width: 455px){
    #candidat .candidat tr{
        gap: 10rem;
    }
}

/*PAGES*/
.pages {max-width: 1200px;width:100%;margin: 0 auto;padding: 2rem 1rem; }
.pages h3 {
    text-align: center;
    font-size: 4vh;
    padding: 2rem 0;
}
@media (max-width:670px) {
    .pages h3 {
        font-size: 2.3vh;
    }
    .pages p {
        font-size: 2.2vh;
    }
}
@media screen and (max-width: 590px) {
    .texte_gauche h1{
        font-size: 4rem;
    }
    .texte_gauche p{
        font-size: 4vw;
    }
}
@media (max-width:530px) {
    .pages h3 {
        font-size: 1.6vh;
    }
    .pages p {
        font-size: 1.4vh;
    }
}
@media (max-width:370px) {
    #partners h1, #video .wrap2 h2, #quisommesnous h1, #carte h1, #poste h1{
        font-size: 2.5rem;
        padding: 0 1rem;
    }
    #poste .titre p{
        font-size: 1.9rem;
    }
    .pages h3 {
        font-size: 1.2vh;
    }
    .pages p {
        font-size: 1vh;
    }
    #poste .card p{
        font-size: 1.3rem;
    }
}

/*404*/
section.error-404.not-found  {
    margin: 3rem 0;
}
section.error-404.not-found img {
    cursor: pointer;
    width: 50%;
    display: flex;
    margin: auto;
}
#lien404 a {
    cursor: pointer;
    background-color: #A8CBE0;
    color: white;
    padding: 1.5rem 1rem;
}
#primary h1 {
    margin-bottom: 5rem;
}
#primary a:hover {
    background-color: #A8CBE0;
    opacity: 60%;
}
#lien404 {
    text-align-last: center;
    margin-top: 5rem;
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-sm > .table-bordered {
        border: 0;
    }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-md > .table-bordered {
        border: 0;
    }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-lg > .table-bordered {
        border: 0;
    }
}

@media (max-width: 1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-xl > .table-bordered {
        border: 0;
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
    border: 0;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e3e6f0;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e3e6f0;
}

.table tbody + tbody {
    border-top: 2px solid #e3e6f0;
}

.table-bordered {
    border: 1px solid #e3e6f0;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #e3e6f0;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}
#candidat .wrap h2{
    font-size: 3rem;
    font-weight: bold;
    color: var(--bleuDark);
    text-transform: uppercase;
}
#candidat .wrap h3{
    color: var(--bleuClair);
    padding-top: 5rem;
}

#candidat .wrap .historique{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#candidat .wrap .historique li{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: rgba(104,165,201, .8);
    border-radius: 5px;
    padding: 4rem 1rem;
    align-items: center;
}
#candidat .wrap .historique li .name{
    padding-left: 2rem;
    display: flex;
    gap: 2rem;
    color: var(--blanc);
    font-size: 2rem;
}
#candidat .wrap .historique li .infos{
    display: flex;
    gap: 3rem;
    align-items: center;
}
#candidat .wrap .historique li .infos a{
    color: var(--blanc);
    font-size: 2rem;
    transition: all .3s;
}
#candidat .wrap .historique li .infos a:hover{
    opacity: .7;
}



/*RECRUTEURS */
#background {
    background-color: #A8CBE0;
    padding: 5rem 0;
}

#backRecrut {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#backRecrut img {
    width: 35%;
}
img#backRecrut1 {
    margin-top: 34rem;
}

#recruteurs {
    margin-bottom: 10rem;
    background-color: #3084B5;
    width: 40%;
    padding: 2rem;
    font-size: 30px;
    color: white;
    opacity: 80%;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
#candidat{
    padding: 10rem 0 8rem 0;
}
#background .wrap ul{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#background .wrap li{
    display: flex;
    justify-content: space-between;
    background: var(--blanc);
    color: var(--bleuDark);
    font-weight: bold;
    align-items: center;
    padding: 2rem 1rem;
    border-radius: 5px;
}
#background .wrap li .first{
    padding: 1rem;
    display: flex;
    /*gap: 11rem;*/
    align-items: center;
}
#background .wrap li .first .name_cv{
    width: 12vw;
    text-align: center;
}
#background .wrap li .first .job{
    width: 15vw;
    text-align: center;
}
#background .wrap li .first .date_cv{
    width: 22vw;
    text-align: center;
}

#background .wrap li .second{
    padding: 1rem;
    display: flex;
    align-items: center;
}
#background .wrap li .second .download{
    text-align: center;
    width: 13vw;
    color: var(--bleuClair);
    transition: all .3s;
}
#background .wrap li .second .download:hover{
    opacity: .7;
}

#background .wrap li .second .consulte{
    text-align: center;
    width: 16vw;
    color: var(--bleuClair);
    transition: all .3s;
}
#background .wrap li .second .consulte:hover{
    opacity: .7;
}